{% extends "layouts/base.html" %}

{% block title_tag %}<title>{{ SITE_NAME }}</title>{% endblock %}

{% block base_content %}

    <div class="container">
        <!-- Main hero unit for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div class="container">
                <h1>{{ SITE_NAME }}</h1>
                <p>You've successfully setup a Django base site. Start Coding!</p>
                <p><small>The Django base site is setup to use <a href="https://github.com/twbs/bootstrap-sass">Twitter Bootstrap-SASS</a> (v3.2.0)</small></p>
                <p><a href="http://django-base-site.readthedocs.org/en/latest/" class="btn btn-primary btn-lg" target="_blank">Read documentation &raquo;</a></p>
            </div>
        </div>
    </div>

{% endblock base_content %}
