{% extends "layouts/base.html" %}

{# djlint:off #}
{% block title_tag %}<title>{{ SITE_NAME }}</title>{% endblock title_tag %}
{# djlint:on #}
{% block content %}
  <div class="c-jumbotron w-1/2">
    <p class="text-gray-600 dark:text-gray-400">You've successfully set up a Django base site!</p>
    <p>
      <a href="https://django-base-site.readthedocs.org/en/latest/"
         class="inline-block bg-blue-600 hover:bg-blue-700 text-white font-medium py-3 px-8 rounded-lg transition-colors"
         target="_blank">Read Documentation</a>
    </p>
  </div>
{% endblock content %}
