# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2

updates:
  - package-ecosystem: "docker"
    directory: "/config/docker/"
    schedule:
      interval: "weekly"
      
  - package-ecosystem: "pip"
    directory: "/config/requirements/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    ignore:
      # Per this comment (https://github.com/mkdocs/mkdocs/issues/2892#issuecomment-1200518008) in mkdocs. They won't
      # update to Makrdown 3.4.1 or greater until July 31, 2023.
      - dependency-name: "Markdown"
        versions: ["3.4.x"]
      # This is a dependency of requrests, and it seems like there are no plans to upgrade, and they might end up
      # removing this library in future versions.
      - dependency-name: "charset-normalizer"
        versions: ["3.x"]

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: weekly
