version: '3.3'

services:

  db:
    image: postgres:latest
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    ports:
      - "5432:5432"

  redis:
    image: redis:3.0
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis_data:/data

  web:
    image: epicserve/django-base-site:latest
    build:
      context: .
      dockerfile: Dockerfile

    command: bash -c "python /code/manage.py migrate --noinput && python /code/manage.py runserver 0.0.0.0:8000"

    volumes:
      - .:/code

    ports:
      - "8000:8000"

    depends_on:
      - db
      - redis

    environment:
      DJANGO_SETTINGS_MODULE: config.settings

volumes:
  postgres_data:
  redis_data:
