[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[requires]
python_full_version = "3.8.0"

[dev-packages]
"fabric3" = "~=1.14"
"flake8" = "~=3.7.8"
black = "~=19.3b0"
coverage = "~=4.5.4"
django-debug-toolbar = "~=2.0"
ipdb = "~=0.12.2"
isort = "~=4.3.21"
sphinx = "~=2.2.0"
sphinx-autobuild = "~=0.7.1"
sphinx-rtd-theme = "~=0.4.3"

[packages]
"boto3" = "~=1.9.253"
"psycopg2-binary" = "~=2.8.4"
celery = "~=4.3.0"
Django = "~=2.2.8"
django-allauth = "~=0.40.0"
django-compressor = "~=2.3"
django-crispy-forms = "~=1.8.0"
django-environ = "~=0.4.5"
django-redis-cache = "~=2.1.0"
django-redis-sessions = "~=0.6.1"
django-storages = "~=1.7.2"
djangorestframework = "~=3.10.3"
# required by redis and django-redis-cache
hiredis = "~=1.0.0"
uwsgi = "~=2.0.18"

[pipenv]
allow_prereleases = true
