[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[requires]
python_full_version = "3.8.5"

[dev-packages]
"fabric3" = "*"
black = "*"
coverage = "*"
django-debug-toolbar = "*"
django-stubs = "*"
djangorestframework-stubs = "*"
ipdb = "*"
isort = "*"
mypy = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"

[packages]
"boto3" = "~=1.11"
"psycopg2-binary" = "~=2.8"
celery = "~=4.4"
Django = "~=3.1"
django-allauth = "~=0.42"
django-crispy-forms = "~=1.9"
django-redis-cache = "~=2.1"
django-redis-sessions = "~=0.6"
django-storages = "~=1.8"
djangorestframework = "~=3.11"
environs = {extras = ["django"], version = "~=8.0"}
# required by redis and django-redis-cache
hiredis = "~=1.0"
uwsgi = "~=2.0"

[pipenv]
allow_prereleases = true
