[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.python.org/simple"

[requires]
python_full_version = "3.6.6"

[dev-packages]
"fabric3" = "~=1.14.post1"
"flake8" = "~=3.5.0"
coverage = "~=4.5.1"
django-debug-toolbar = "~=1.10.1"
ipdb = "~=0.11.0"
isort = "~=4.3.4"
sphinx-autobuild = "~=0.7.1"
sphinx-rtd-theme = "~=0.4.2"
sphinx = "~=1.8.1"

[packages]
"boto3" = "~=1.9.23"
"psycopg2-binary" = "~=2.7.5"
dj-static = "~=0.0.6"
django = "~=2.1.2"
django-allauth = "~=0.38.0"
django-bootstrap-form = "~=3.4.0"
django-compressor = "~=2.2.0"
django-environ = "~=0.4.4"
django-redis-cache = "~=1.7.1"
django-redis-sessions = "~=0.6.1"
django-storages = "~=1.7"
gunicorn = "~=19.9.0"
