{% extends "emails/action_email.html" %}

{% load i18n %}

{% block action_button_text %}
  {% trans "Reset Password" %}
{% endblock action_button_text %}

{% block extra_content %}
  {% with action_url=password_reset_url %}{{ block.super }}{% endwith %}
{% endblock extra_content %}

{% block footer %}
  {% with action_url=password_reset_url %}{{ block.super }}{% endwith %}
{% endblock footer %}

{% block content %}
  {% autoescape off %}
    {% blocktrans %}You're receiving this email because you or someone else has requested a password reset for your user account.
    It can be safely ignored if you did not request a password reset. Click the button below to reset your password.{% endblocktrans %}
    {% if username %}
      <br>
      <br>
      {% blocktrans %}In case you forgot, your username is {{ username }}.{% endblocktrans %}
    {% endif %}
  {% endautoescape %}
{% endblock content %}
