{% extends "emails/action_email.html" %}

{% load i18n %}

{% block action_button_text %}
  {% trans "Sign Up" %}
{% endblock action_button_text %}

{% block extra_content %}
  {% with action_url=signup_url %}{{ block.super }}{% endwith %}
{% endblock extra_content %}

{% block footer %}
  {% with action_url=signup_url %}{{ block.super }}{% endwith %}
{% endblock footer %}

{% block content %}
  {% autoescape off %}
    {% blocktranslate %}You are receiving this email because you, or someone else, tried to access an account with email {{ email }}. However, we do not have any record of such an account in our database.{% endblocktranslate %}
    <br>
    <br>
    {% blocktranslate %}This mail can be safely ignored if you did not initiate this action.{% endblocktranslate %}
    <br>
    <br>
    {% blocktranslate %}If it was you, you can sign up for an account using the button below.{% endblocktranslate %}
  {% endautoescape %}
{% endblock content %}
