{% extends "base.html" %}

        {% block base_content %}
        <div id="content-container" class="col-two container_16">
            <div class="inner-wrap grid_16">
                <aside>
                    {% block col_two_content %}
                    {% endblock %}
                </aside>
                <div id="main-content" class="grid_7 omega">
                    {% block content %}
                    {{ page.content }}
                    {% endblock %}
                </div>
            </div>
        </div>
        {% endblock %}