<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block title_tag %}<title>{% block title %}{% endblock %}{% if SITE_NAME %} - {{ SITE_NAME }}{% endif %}</title>{% endblock title_tag %}

        {% block style %}
        <link rel="stylesheet" href="{% static 'dist/css/base.min.css' %}">
        {% endblock style %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        {% block script %}{% endblock script %}{% include "blocks/google-analytics.html" %}
    </head>

    <body{% block body_attr %} class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}"{% endblock %}>

        {% block base_header %}

            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light bg-faded">

                    <a class="navbar-brand" href="{% url 'site_index' %}">{{ SITE_NAME }}</a>

                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{% url 'site_index' %}">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav">
                            {% if not user.is_authenticated %}
                                <li><a href="{% url 'account_login' %}">Sign In</a></li>
                            {% else %}
                                <li class="nav-item dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {% firstof user.get_short_name user.get_username %} <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item"><a href="{% url 'account_change_name' %}">Account Settings</a></li>
                                        {% if user.is_staff %}<li class="dropdown-item"><a href="{% url 'admin:index' %}">Administration</a></li>{% endif %}
                                        <li class="dropdown-item"><a href="{% url 'account_logout' %}">Sign Out</a></li>
                                    </ul>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>

        {% endblock base_header %}

        {% block breadcrumb %}
        {% endblock breadcrumb %}

        {% if messages %}
        <div id="flash-message-container" class="container">
            {% for message in messages %}
            <p class="alert alert-{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}

        {% block base_content %}
        <div id="main-content" class="container">
            {% block content %}
            {% endblock content %}
        </div>
        {% endblock base_content %}

        {% block base_footer %}
        <div class="container">

            <hr>
            <footer>
                <p>&copy; {{ SITE_NAME }} {% now "Y" %}</p>
            </footer>

        </div>
        {% endblock base_footer %}

        {% block bottom_script %}
            <script src="{% static 'dist/js/base.min.js' %}"></script>
        {% endblock bottom_script %}

    </body>
</html>
