<!DOCTYPE html>
{% load vite %}

<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">
    {% block title_tag %}
      <title>
        {% block title %}
          {{ page_title }}
        {% endblock title %}

        {% if SITE_NAME %}- {{ SITE_NAME }}{% endif %}
      </title>
    {% endblock title_tag %}

    {% block style %}
      {% vite_asset 'js/main.css' %}
    {% endblock style %}

    {% block script %}
    {% endblock script %}

    {% include "blocks/google-analytics.html" %}
  </head>
  {# djlint:off #}
  <body
    {% block body_attr %}
      class="{% block body_class %}d-flex flex-column h-100{% endblock body_class %}"
      id="{% block body_id %}{% endblock body_id %}"
    {% endblock body_attr %}
    >
  {# djlint:on #}
  {% block base_header %}
    {% include "blocks/nav.html" %}
  {% endblock base_header %}

  <main class="{% block content_class %}d-flex flex-nowrap vh-100{% endblock content_class %}
     ">
    {% block sidenav %}
      {% include "blocks/sidenav.html" %}
    {% endblock sidenav %}

    <div class="d-flex flex-column flex-fill">
      {% block breadcrumb %}
      {% endblock breadcrumb %}

      {% if messages %}
        <div id="flash-message-container">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show"
                 role="alert">
              {{ message }}
              <button type="button"
                      class="btn-close"
                      data-bs-dismiss="alert"
                      aria-label="Close"></button>
            </div>
          {% endfor %}
        </div>
      {% endif %}
      {% block content %}
      {% endblock content %}

      <footer class="{% block footer_class %}footer mt-auto container-fluid border-top border-top-1 pt-2{% endblock footer_class %}
         ">
        <p class="text-end text-muted pe-2">©{{ SITE_NAME }} {% now "Y" %}</p>
      </footer>
    </div>
  </main>
  {% block bottom_script %}
    {% vite_hmr_client %}
    {% vite_asset 'js/main.js' %}
  {% endblock bottom_script %}

</body>
</html>
