{% extends "account/base_entrance.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account %}

{% block head_title %}
  {% trans "Sign In" %}
{% endblock head_title %}

{% block style %}
  {{ block.super }}
  <style>
    #login-form main {
      max-width: 400px;
    }

    #id_login {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    #id_password {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }

    #div_id_login {
      margin-bottom: -1px !important;
    }
  </style>
{% endblock style %}

{% block base_header %}
{% endblock base_header %}

{# djlint:off #}
{% block body_id %}login-form{% endblock body_id %}
{# djlint:on #}
{% block content_class %}
  w-100 m-auto
{% endblock content_class %}

{% block content %}
  <h2>{% trans "Sign In" %}</h2>
  {% if socialaccount.providers %}
    <p>
      {% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{site_name}} account and sign in
below:{% endblocktrans %}
    </p>
    <div class="socialaccount_ballot">
      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>
      <div class="login-or">{% trans "or" %}</div>
    </div>
    {% include "socialaccount/snippets/login_extra.html" %}
  {% endif %}
  <form class="login" method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    {% crispy form %}
    {% if redirect_field_value %}
      <input type="hidden"
             name="{{ redirect_field_name }}"
             value="{{ redirect_field_value }}" />
    {% endif %}
    <p class="mt-3">
      {% blocktrans %}Don't have an account? <a href="{{ signup_url }}">Sign up</a>{% endblocktrans %}
    </p>
  </form>
{% endblock content %}
