{% extends "account/base_entrance.html" %}

{% load crispy_forms_tags %}

{# djlint:off #}
{% block head_title %}Name{% endblock head_title %}
{% block account_nav_name %}border-blue-500 text-blue-600 dark:border-blue-400 dark:text-blue-400{% endblock account_nav_name %}
{# djlint:on #}
{% block account_content %}
  <form action="." method="post" class="space-y-6">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-md transition-colors">Save</button>
  </form>
{% endblock account_content %}
