{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
  {% trans "Set Password" %}
{% endblock head_title %}

{# djlint:off #}
{% block account_nav_change_password %}active{% endblock account_nav_change_password %}
{# djlint:on #}
{% block account_content %}
  <form method="post" action="" class="password_set">
    {% csrf_token %}
    {{ password_set_form|crispy }}
    <div class="form-actions">
      <input class="btn btn-primary"
             type="submit"
             name="action"
             value="{% trans "Set Password" %}" />
    </div>
  </form>
{% endblock account_content %}
