{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}
  {% trans "Change Password" %}
{% endblock head_title %}

{# djlint:off #}
{% block account_nav_change_password %}active{% endblock account_nav_change_password %}
{# djlint:on #}
{% block account_content %}
  <form method="post" action="." class="password_change">
    {% csrf_token %}
    {{ password_change_form|crispy }}
    <div class="form-actions">
      <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
    </div>
  </form>
{% endblock account_content %}
