.bi {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
  fill: currentcolor;
}

.icon-link {
  display: flex;
  align-items: center;
  text-decoration-color: rgba($primary, 0.5);
  text-underline-offset: 0.5rem;
  backface-visibility: hidden;

  .bi {
    width: 1.5em;
    height: 1.5em;
    transition: 0.2s ease-in-out transform; // stylelint-disable-line property-disallowed-list
  }

  &:hover {
    .bi {
      transform: translate3d(5px, 0, 0);
    }
  }
}
