@use "main_nav";
@use "color_mode_picker";

/* Tailwind disabled until container rebuild */
/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

.c-jumbotron {
  background-color: #f3f4f6;
  margin-top: 3rem;
  padding: 3rem;
  border-radius: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  h1 {
    font-size: 3rem;
    font-weight: bold;
  }

  p {
    font-size: 1.25rem;
  }
}
