@use "~bootstrap/scss/bootstrap" as bs;
@use "main_nav";
@use "color_mode_picker";

.c-jumbotron {
  @extend .bg-body-secondary;
  @extend .mt-5;
  @extend .p-5;
  @extend .rounded-3;
  @extend .m-auto;
  @extend .text-center;

  width: 100%;

  @include bs.media-breakpoint-up(md) {
    width: 75%;
  }

  @include bs.media-breakpoint-up(lg) {
    width: 50%;
  }

  h1 {
    @extend .display-5;
    @extend .fw-bold;
  }

  p {
    @extend .fs-4;
  }
}
