{% extends "socialaccount/base.html" %}

{% load i18n crispy_forms_filters %}

{% block head_title %}
  {% trans "Signup" %}
{% endblock head_title %}

{% block content %}
  <h1>{% trans "Sign Up" %}</h1>
  <p>
    {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}
  </p>
  <form id="signup_form"
        method="post"
        action="{% url 'socialaccount_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-actions">
      <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
    </div>
  </form>
{% endblock content %}
