{% if show_debug_info is True %}
  <div class="fixed bottom-0 left-0 bg-white dark:bg-gray-800 p-3 border-t border-gray-200 dark:border-gray-700 text-sm">
    <h4 class="font-semibold text-gray-900 dark:text-white mb-1">Organization Debug Information</h4>
    <ul class="text-gray-700 dark:text-gray-300 space-y-0.5">
      <li>Request Org: {{ request.org }}</li>
      <li>Org: {{ org }}</li>
      <li>org_owner_count: {{ org_owner_count }}</li>
      <li>org_member_count: {{ org_member_count }}</li>
      <li>is_owner: {{ org.is_owner|pprint }}</li>
    </ul>
  </div>
{% endif %}
